<!doctype html>
<html lang="en" dir="ltr">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	
	<title></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<link rel="stylesheet" href="styles/attn.css">
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<link rel="stylesheet" href="<!-- @echo production -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/styles/attn.min.css">
	
	<!-- @endif -->
	
	<base target="_parent">
	
</head>
<body>
	
	<div id="attn" class="attn"></div>
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<script src="./scripts/jquery.js"></script>
	<script src="./scripts/jquery.pollster.js"></script>
	<script src="./scripts/iframeResizer.contentWindow.js"></script>
	<script src="./scripts/attn.js"></script>
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<script src="<!-- @echo production -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/scripts/attn.min.js"></script>
	
	<!-- @endif -->
	
</body>
</html>
