<!-- @include includes/top.html -->

<header id="header">
	
	<aside id="slideshow" role="complementary">
		
		<a id="parallax"></a>
		
	</aside> <!-- /#slideshow -->
	
	<section id="masthead" class="wrap">
		
		<div class="core">
			
			<h1 id="flag"><a href="#"><span>Your Vote</span></a></h1>
			<h2 class="lettering">Election 2014</h2>
			<h3>Live updates, breaking news and results</h3>
			
		</div> <!-- /.core -->
		
	</section> <!-- /#masthead -->
	
</header>

<main role="main">
	
	<div class="base">
		
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->
		
		<iframe id="attn" src="attn.html" width="100%" height="0" scrolling="no"></iframe>
		
		<!-- @endif -->
		
		<!-- @if NODE_ENV == 'PRODUCTION' -->
		
		<iframe id="attn" src="<!-- @echo production -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/attn.html" width="100%" height="0" scrolling="no"></iframe>
		
		<!-- @endif -->
		
		<div class="wrap">
			
			<div class="core">
				
				<section>
					
					<h3>Stories</h3>
					
					<div id="stories" class="pure-g pure-pad">
						
						<div class="pure-u-1 pure-u-md-8-24">
							
							<h4>Oregon</h4>
							
							<div id="story-oregon" data-cats="elections oregon results" class="stories loading"></div>
							
							<h4>National</h4>
							
							<div id="story-national" data-cats="elections national results" class="stories loading"></div>
							
						</div> <!-- .pure-u-1 -->
						
						<div class="pure-u-1 pure-u-md-8-24">
							
							<h4>Eugene-Springfield</h4>
							
							<div id="story-eugene-springfield" data-cats="elections eug-spfld results" class="stories loading"></div>
							
							<h4>Lane County</h4>
							
							<div id="story-lane-county" data-cats="elections lane county results" class="stories loading"></div>
							
						</div> <!-- .pure-u-1 -->
						
						<div class="pure-u-1 pure-u-md-8-24">
							
							<h4>Region</h4>
							
							<div id="story-region" data-cats="elections region results" class="stories loading"></div>
							
						</div> <!-- .pure-u-1 -->
						
					</div> <!-- /.pure-g -->
					
				</section>
				
				<div class="banner">
					
					<p>Advertisement</p>
					
					<!-- //////////////////// Leaderboard 1 \\\\\\\\\\\\\\\\\\\\ -->
					<div class="advert"><div id="leaderboard-1"><script>_ox.showAdUnit('537200277');</script></div></div>
					<!-- \\\\\\\\\\\\\\\\\\\\ Leaderboard 1 //////////////////// -->
					
					<!-- //////////////////// Mobile Banner \\\\\\\\\\\\\\\\\\\\ -->
					<div class="advert"><div id="mobile-banner"><script>_ox.showAdUnit('537200313');</script></div></div>
					<!-- \\\\\\\\\\\\\\\\\\\\ Mobile Banner //////////////////// -->
					
				</div> <!-- /.banner -->
				
				<section>
					
					<h3 id="results">Results</h3>
					
					<div id="filtered" class="pure-g pure-pad">
						
						<div class="pure-u-1 pure-u-md-12-24">
							
							<h4>Lane County</h4>
							
							<div id="results-lane-county" class="loading"></div>
							
							<h4>Eugene/Springfield</h4>
							
							<div id="results-eugspr" class="loading"></div>
							
						</div> <!-- .pure-u-1 -->
						
						<div class="pure-u-1 pure-u-md-12-24">
							
							<h4>State Races</h4>
							
							<div id="results-state-races" class="loading"></div>
							
							<div class="banner">
								
								<p>Advertisement</p>
								
								<!-- //////////////////// Medium Rectangle 1 \\\\\\\\\\\\\\\\\\\\ -->
								<div class="advert"><div id="medium-rectangle-1"><script>_ox.showAdUnit('537229382');</script></div></div>
								<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 1 //////////////////// -->
								
							</div> <!-- /.banner -->
							
							<h4>State Measures</h4>
							
							<div id="results-state-measures" class="loading"></div>
							
							<div class="banner">
								
								<p>Advertisement</p>
								
								<!-- //////////////////// Medium Rectangle 2 \\\\\\\\\\\\\\\\\\\\ -->
								<div class="advert"><div id="medium-rectangle-2"><script>_ox.showAdUnit('537229386');</script></div></div>
								<!-- \\\\\\\\\\\\\\\\\\\\ Medium Rectangle 2 //////////////////// -->
								
							</div> <!-- /.banner -->
							
							<h4>Regional Races</h4>
							
							<div id="results-regional-races" class="loading"></div>
							
							<h4>Lane County Measures</h4>
							
							<div id="results-lane-county-measures" class="loading"></div>
							
						</div> <!-- .pure-u-1 -->
						
					</div> <!-- /.pure-g -->
					
				</section>
				
				<div class="banner">
					
					<p>Advertisement</p>
					
					<!-- //////////////////// ROS Leaderboard Bottom \\\\\\\\\\\\\\\\\\\\ -->
					<div class="advert"><div id="ros-leaderboard-bottom"><script>_ox.showAdUnit('537200307');</script></div></div>
					<!-- \\\\\\\\\\\\\\\\\\\\ ROS Leaderboard Bottom //////////////////// -->
					
					<!-- //////////////////// ROS Mobile Banner Bottom \\\\\\\\\\\\\\\\\\\\ -->
					<div class="advert"><div id="ros-mobile-banner-bottom"><script>_ox.showAdUnit('537200312');</script></div></div>
					<!-- \\\\\\\\\\\\\\\\\\\\ ROS Mobile Banner Bottom //////////////////// -->
					
				</div> <!-- /.banner -->
				
			</div> <!-- /.core -->
		
		</div> <!-- /.wrap -->
		
	</div> <!-- /.base -->
	
</main>

<!-- @include includes/bottom.html -->
