<!-- @include includes/top.html -->

<h1>Election coverage starts here</h1>

<div class="fake"><p>Stories</p></div>

<hr>

<h1>Another way of presenting the election coverage</h1>

<div class="pure-g pure-pad">
	
	<div class="pure-u-1 pure-u-md-1-3">
		
		<div class="fake"><p>Stories</p></div>
		
	</div> <!-- .pure-u-1 -->
	
	<div class="pure-u-1 pure-u-md-1-3">
		
		<div class="fake"><p>Stories</p></div>
		
	</div> <!-- .pure-u-1 -->
	
	<div class="pure-u-1 pure-u-md-1-3">
		
		<div class="fake"><p>Stories</p></div>
		
	</div> <!-- .pure-u-1 -->
	
</div> <!-- /.pure-g -->

<hr>

<h1>Results</h1>

<div class="pure-g pure-pad">
	
	<div class="pure-u-1 pure-u-md-1-5">
		
		<div class="fake"><p>Bar Charts</p></div>
		
	</div> <!-- .pure-u-1 -->
	
	<div class="pure-u-1 pure-u-md-1-5">
		
		<div class="fake"><p>Bar Charts</p></div>
		
	</div> <!-- .pure-u-1 -->
	
	<div class="pure-u-1 pure-u-md-1-5">
		
		<div class="fake"><p>Bar Charts</p></div>
		
	</div> <!-- .pure-u-1 -->
	
	<div class="pure-u-1 pure-u-md-1-5">
		
		<div class="fake"><p>Bar Charts</p></div>
		
	</div> <!-- .pure-u-1 -->
	
	<div class="pure-u-1 pure-u-md-1-5">
		
		<div class="fake"><p>Bar Charts</p></div>
		
	</div> <!-- .pure-u-1 -->
	
</div> <!-- /.pure-g -->

<!-- @include includes/bottom.html -->
