.advert {
	text-align: center; /* Oldschool centering technique. */
	position: relative; /* Just in case ad decides to `position: absolute;` without a `position: relative;` parent. */
	margin: 0 auto;     /* Putting `auto` here to assist `.advert`s that have a width. */
	/*overflow-x: hidden;*/ /* Avoid rogue ads breaking out of container. */
}

.advert * {
	/* http://meyerweb.com/eric/tools/css/reset/ */
	font-size: 100%;
	font: inherit;
	border: 0;
	margin: 0 auto; /* Centers. */
	padding: 0;
	outline: 0;
}

.advert img {
	/* Responsive images: */
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	-ms-interpolation-mode: bicubic;
}
