* {
	
	// I want everything to `color` to animate:
	// -webkit-transition: color 100ms linear;
	//    -moz-transition: color 100ms linear;
	//     -ms-transition: color 100ms linear;
	//      -o-transition: color 100ms linear;
	//         transition: color 100ms linear;
	
	&,
	&::before,
	&::after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	
}

html,
body { overflow-x: hidden; }

html {
	height: 100%;
	overflow-y: scroll;
	-webkit-tap-highlight-color: rgba($raven, 0);
	position: relative;
}

body {
	font-size: 14px;
	line-height: 20px;
	font-family: $font1;
	color: $raven;
	background: $raven;
	min-height: 100%;
	text-rendering: optimizeLegibility;
}

p.excerpt { margin-top: 5px; }

a {
	
	&,
	&:visited {
		color: $color1;
		text-decoration: none;
	}
	.no-touch &:visited:hover,
	&:focus,
	.no-touch &:focus:hover,
	.no-touch &:hover,
	&:active { color: saturate(lighten($color1, 20%), 20%); }
	
}

::-moz-selection {
	background: rgba($color1, .55);
	text-shadow: none;
}

::selection {
	background: rgba($color1, .55);
	text-shadow: none;
}

hr {
	
	border: 0;
	border-top: 4px solid $graye;
	height: 0;
	margin: 50px 0;
	padding: 0;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	    -ms-box-sizing: content-box;
	        box-sizing: content-box;
	
	article &,
	aside &,
	section & {
		border-top-width: 1px;
		border-color: $grayc;
		margin: 25px 0;
	}
	
}

blockquote {
	
	font-family: $font2;
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
	letter-spacing: .05em;
	word-spacing: .15em;
	margin: 50px 0 0 40px;
	padding: 0;
	position: relative;
	
	p {
		font-size: inherit;
		line-height: inherit;
		margin: 10px 0;
	}
	
	footer {
		
		font-size: 70%;
		font-weight: normal;
		letter-spacing: .05em;
		color: $gray8;
		
		p { margin: 0; }
		
	}
	
	* { max-width: none; }
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
	&::before,
	&::after {
		@include font-awesome;
		font-size: 60px;
		color: rgba($raven, .1);
		line-height: 1;
		position: absolute;
	}
	
	&::before {
		top: -25px; // Half `blockquote` vertical margin.
		left: -40px; // Same as the `blockquote` horizontal margin.
		content: "\f10d";
	}
	
	// &::after {
	// 	content: "\f10e";
	// }
	
}

mark {
	background: rgba($duck, .9);
	padding: 1px 3px;
	border-radius: 3px;
}

del,
ins {
	line-height: 0;
	letter-spacing: .05em;
	padding: 1px 3px;
	position: relative;
	border-radius: 2px;
}
del {
	color: darken($chili, 50%);
	background: rgba($chili, .5);
}
ins {
	
	color: darken($frog, 50%);
	text-decoration: none;
	background: rgba($frog, .5);
	
	&::before { content: "["; }
	&::after { content: "]"; }
	
}

q {
	font-weight: bolder;
	font-style: italic;
}

abbr {
	
	font-style: italic;
	cursor: help;
	
	&[title] { border-bottom: 2px solid; }
	
}

cite { font-style: italic; }

dfn {
	
	font-weight: bold;
	font-style: italic;
	
	&[title] {
		border-bottom: 2px solid;
		cursor: help;
	}
	
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub { bottom: -0.25em; }
sup { top: -0.5em; }

wbr::after { content: "\00200B"; }

small,
.small { font-size: smaller; }
