section,
article,
aside {
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
}

.container {
	//border: 1px solid red;
	max-width: 1600px;
	margin: 20px auto;
	padding: 0 20px;
	
	@media all and (min-width: 640px) { // IBID.
		
		& {
			margin: 50px auto;
			padding: 0 50px;
		}
		
	}
	
}

.pure-g {
	
	[class*="pure-u"] { font-family: $font1; } // http://purecss.io/grids/#using-grids-with-custom-fonts
	
	:first-child { padding-top: 0; }
	:last-child { padding-bottom: 0; }
	
	&.pure-pad {
		
		[class*="pure-u"] { padding: 10px 0; }
		
		@media all and (min-width: 960px) {
			
			[class*="pure-u"] { padding: 0 20px; }
			
			:first-child { padding-left: 0; }
			:last-child { padding-right: 0; }
			
		}
		
	}
	
}

#header {
	
	text-align: center;
	xmargin-top: 50px;
	position: relative;
	border-bottom: 5px solid $grayd;
	padding: 50px 0;
	background: $graye;
	
	*zoom: 1;
	&::before,
	&::after {
		content: " ";
		display: table;
	}
	&::after { clear: both; }
	
	@media all and (min-width: 960px) {
		
		& {
			
			text-align: left;
			xmargin-bottom: 100px;
		
			h1 {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
			
		}
		
	}
	
}
