ul, ol, dl { margin: 25px 0; }

ul, ol { padding: 0 0 0 40px; }

dl {
	
	dt {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .05em;
		word-spacing: .15em;
		line-height: 20px;
		margin: 0 0 5px;
	}
	
	dd {
		line-height: 18px;
		margin: 0 0 10px;
		padding: 0 0 0 10px;
	}
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
}

%arrow {
	@include font-awesome;
	line-height: 0;
	position: relative;
	text-decoration: inherit;
	//display: inline-block;
}

.pager {
	
	text-align: center;
	color: $gray8;
	margin: 20px auto;
	padding: 0;
	
	> {
		
		li {
			
			font-size: 12px;
			line-height: 1;
			margin: 0;
			padding: 0;
			display: inline-block;
			
			a,
			span {
				text-transform: uppercase;
				letter-spacing: .05em;
				white-space: nowrap;
				background: $graye;
				//width: 100%; // This was making Chrome freak out.
				height: 100%;
				padding: 1em 1.5em;
				display: block;
			}
			
			.pager-current {
				color: $raven;
				font-weight: bold;
				background: $grayc;
			}
			
			&:first-child {
				
				a,
				span { border-radius: 3px 0 0 3px; }
				
				a::before {
					@extend %arrow;
					content: "\f177\00a0";
				}
				
			}
			
			&:last-child {
				
				a,
				span { border-radius: 0 3px 3px 0; }
				
				a::after {
					@extend %arrow;
					content: "\00a0\f178";
				}
				
			}
			
		}
		
	}
	
	a {
		
		&,
		&:visited { color: $gray3; }
		.no-touch &:visited:hover,
		&:focus,
		.no-touch &:focus:hover,
		.no-touch &:hover {
			color: $graye;
			text-decoration: none;
			background: $gray3;
		}
		
		&:focus,
		&:active { outline: 0; }
		
		-webkit-transition: background 200ms linear, color 750ms linear;
				transition: background 200ms linear, color 750ms linear;
		
	}
	
	// https://github.com/mhulse/picard/issues/133#issuecomment-31626386
	.fa {
		line-height: 0;
		position: relative;
	}
	
}
