@mixin font-awesome() {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

@mixin miller-light() {
	font-family: "MillerHeadline Light", $serif;
	font-style: normal;
	font-style: normal;
}

@mixin miller-bold() {
	font-family: "MillerHeadline Bold", $serif;
	font-weight: bold;
	font-style: normal;
}

@mixin benton() {
	font-family: "BentonSansCond Regular", $sans;
	font-style: normal;
	font-weight: bold;
}
