nav[role="navigation"] {
	
	padding: 10px 0;
	background: $raven;
	
	ul {
		
		&,
		li {
			margin: 0;
			padding: 0;
		}
		
		li {
			font-size: 16px;
			line-height: 18px;
			letter-spacing: .1em;
			list-style: none;
			display: inline-block;
			text-shadow: 0 1px 1px $raven;
		}
		
		a {
			
			display: block;
			background-size: 100% 200%;
			background-image: linear-gradient(to bottom, transparent 50%, $raven 50%);
			padding: 10px 15px;
			-webkit-transition: background-position 150ms ease-in, color 200ms linear;
			   -moz-transition: background-position 150ms ease-in, color 200ms linear;
			    -ms-transition: background-position 150ms ease-in, color 200ms linear;
			     -o-transition: background-position 150ms ease-in, color 200ms linear;
			        transition: background-position 150ms ease-in, color 200ms linear;
			-webkit-transform-style: preserve-3d;
			   -moz-transform-style: preserve-3d;
			    -ms-transform-style: preserve-3d;
			     -o-transform-style: preserve-3d;
			        transform-style: preserve-3d;
			
			// Harmonia wasn't happy with this additional markup:
			// span {
			// 	display: block;
			// 	position: relative;
			// 	-webkit-transition: -webkit-transform 50ms linear;
			// 	   -moz-transition: -moz-transform 50ms linear;
			// 	    -ms-transition: -ms-transform 50ms linear;
			// 	     -o-transition: -o-transform 50ms linear;
			// 	        transition: transform 50ms linear;
			// }
			
			&,
			&:visited {
				color: $grayc;
				text-decoration: none;
			}
			.no-touch &:visited:hover,
			&:focus,
			.no-touch &:focus:hover,
			.no-touch &:hover,
			&:active {
				
				color: lighten($color2, 20%);
				background-position: 0 -100%;
				
				// span {
				// 	-webkit-transform: translateY(-3px);
				// 	   -moz-transform: translateY(-3px);
				// 	    -ms-transform: translateY(-3px);
				// 	     -o-transform: translateY(-3px);
				// 	        transform: translateY(-3px);
				// }
				
			}
			
		}
		
		.js & {
			
			display: none;
			visibility: hidden;
			
			@media all and (min-width: 960px) {
				
				& {
					display: block;
					visibility: visible;
				}
				
			}
			
		}
		
	}
	
	.harmonia-select {
		font-size: 16px; // Makes it so iOS doesn't zoom in on form element.
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		display: block;
		padding: 0;
	}
	
	@media all and (min-width: 960px) {
		
		background: $gray2;
		background-image: linear-gradient(to bottom, $gray2 0, $gray3 100%);
		padding: 0;
		
		.harmonia-select {
			display: none;
			visibility: hidden;
		}
		
	}
	
}

