nav[role="navigation"] {
	
	ul {
		
		background: $gray3;
		text-align: center;
		border-width: 0 0 5px;
		border-style: solid;
		border-color: $gray1;
		
		&,
		li {
			margin: 0;
			padding: 0;
		}
		
		li {
			
			font-size: 18px;
			line-height: 20px;
			letter-spacing: .1em;
			list-style: none;
			display: inline-block;
			border-right: 1px solid $gray1;
			text-shadow: 0 1px 1px #000;
			
			&:last-child { border-right: none; }
			
		}
		
		a {
			
			display: block;
			padding: 10px 20px;
			
			&,
			&:visited {
				color: $gray9;
				text-decoration: none;
			}
			.no-touch &:visited:hover,
			&:focus,
			.no-touch &:focus:hover,
			.no-touch &:hover,
			&:active {
				color: $milk;
				background: rgba($color3, .25);
			}
			
			-webkit-transition: background 200ms linear, color 750ms linear;
					transition: background 200ms linear, color 750ms linear;
			
		}
		
	}
	
	select {
		font-size: 16px; // Makes it so iOS doesn't zoom in on form element.
		width: 100%;
		max-width: 300px;
		margin: 25px auto;
		display: block;
		padding: 0;
	}
	
	.js &.harmonia {
		display: none;
		visibility: hidden;
	}
	
	@media all and (min-width: 960px) {
		
		& {
			
			//margin-left: 20%;
			
			.harmonia-select {
				display: none;
				visibility: hidden;
			}
			
			.js & {
				
				.harmonia {
					display: block;
					visibility: visible;
				}
				
			}
			
		}
		
	}
	
}

