// Put "pending" CSS here.
// ...

footer[role="contentinfo"] {
	
	margin: 10px 0 0;
	text-align: center;
	
	p {
		font: 11px/24px Arial, sans-serif;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $gray9;
		margin: 0;
		padding: 0;
	}
	
	span { display: block; }
	span span { display: none; }
	
	a {
		color: $gray6;
		text-decoration: none;
	}
	a:visited { color: $gray6; }
	.no-touch a:visited:hover,
	a:focus,
	.no-touch a:focus:hover,
	.no-touch a:hover,
	a:active {
		color: $raven;
		text-decoration: underline;
	}
	
	@media all and (min-width: 640px) {
		span,
		span span { display: inline; }
	}
	
}

aside[role="complementary"] {
	
	background: #000;
	color: #fff;
	padding: 25px 0;
	
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	
	h1 {
		
		letter-spacing: normal;
		font-size: 120px;
		line-height: 130px;
		font-family: "MillerHeadline Bold";
		font-weight: bold;
		font-style: normal;
		margin-top: 0;
		
		.char1 { margin-left: 0; }
		.char2 { margin-left: 8px; }
		.char3 { margin-left: -2px; }
		.char4 { margin-left: 1px; }
		.char5 { margin-left: 4px; }
		.char6 { margin-left: 9px; }
		.char7 { margin-left: -4px; }
		.char8 { margin-left: -5px; }
		.char9 { margin-left: 0; }
		.char10 { margin-left: 0; }
		.char11 { margin-left: 2px; }
		.char12 { margin-left: -8px; }
		.char13 { margin-left: -3px; }
		
	}
	
	h2 {
		font-family: "MillerHeadline Light";
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 45px;
		margin-bottom: 0;
		color: #ccc;
	}
	
}

.js #disqus { display: none; }

// http://callmenick.com/2014/09/08/advanced-parallax-scrolling-effect/
//body { padding-top: 0 !important; }

section.module.parallax {
	background-color: $raven;
	background-position: 0 0;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	padding: 350px;
}
section.module.parallax-1 { background-image: url(https://dl.dropboxusercontent.com/u/1277106/20141021-Oregon_Primary_Election_Sen.3.jpg); }
section.module p {
	
	font-size: 18px;
	line-height: 44px;
	font-weight: normal;
	letter-spacing: .1em;
	color: $raven;
	margin: 0;
	position: absolute;
	right: 50px;
	bottom: 50px;
	color: $milk;
	max-width: 300px;
	
	> span {
		
		// https://github.com/mhulse/data/issues/18
		padding: 10px;
		background: rgba($raven, .75);
		-webkit-box-decoration-break: clone;
		   -moz-box-decoration-break: clone;
		    -ms-box-decoration-break: clone;
		     -o-box-decoration-break: clone;
		        box-decoration-break: clone;
		
		span {
			font-size: 65%;
			color: $gray9;
		}
		
	}
	
	// Removes annoying Webkit outline:
	&:active,
	&:focus { outline: 0; }
	
}

//----------------------------------------------------------------------


		/*-----------------( TAB SKIN )-----------------*/
		
		.nutshell,
		.nutshell li {
			margin: 0;
			padding: 0;
		}
		.nutshell {
			position: relative;
			margin-bottom: 5px;
		}
		.nutshell li { list-style: none; }
		.nutshell a {
			background: transparent;
			border: 1px solid rgba(0, 0, 0, 0);
			padding: 5px 10px;
			display: block;
		}
		.nutshell a,
		.nutshell a:visited {
			color: #000;
			text-decoration: none;
		}
		.nutshell a:visited:hover,
		.nutshell a:focus,
		.nutshell a:focus:hover,
		.nutshell a:hover,
		.nutshell a:active { text-decoration: none; }
		.nutshell a.nutshell-selected {
			border-radius: 3px;
			border-color: #ccc;
			background: #fff;
		}
		.nutshell a:active,
		.nutshell a:focus { outline: none; }
		
		@media all and (min-width : 480px) {
			
			.nutshell { *zoom: 1; } .nutshell:before, .nutshell:after { content: " "; display: table; } .nutshell:after { clear: both; }
			.nutshell { border-bottom: 1px solid #ccc; }
			.nutshell li {
				float: left;
				display: inline;
				margin-right: 5px;
				margin-bottom: -1px;
			}
			.nutshell li:last-child { margin-right: 0; }
			.nutshell a { border-bottom: 0; }
			.nutshell a.nutshell-selected {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-color: #ccc;
				background: #fff;
			}
			
		}
		
		/*-----------------( TAB PANEL )-----------------*/
		
		.panel {
			border: 1px solid #ccc;
			background: #fff;
			padding: 10px;
			border-radius: 0 0 3px 3px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
		}
		.panel > :last-child { margin-bottom: 0; }
		
		/*-----------------( UTILITY )-----------------*/
		
		.js .panel { display: none; }






.ion :first-of-type .ion-head { border-top: 1px solid #ccc; }
		.ion-head {
			font-size: 1em;
			line-height: 1;
			color: #666;
			border-width: 0 0 1px;
			border-style: solid;
			border-color: #ccc;
			background: #fff;
			margin: 0;
			padding: .5em 0;
			white-space: nowrap;
			cursor: pointer;
			cursor: hand;
			overflow: hidden;
		}
		.no-js .ion-head { color: #000; } /* Applied only if JS is turned OFF. */
		.js .ion-head::before { /* Applied only if JS is turned ON. */
			font-size: smaller;
			font-weight: bold;
			text-align: center;
			line-height: 1em;
			color: #999;
			border: 1px solid #ccc;
			border-radius: 50%;
			background: #eee;
			width: 1em;
			height: 1em;
			float: right;
			display: inline;
			content: "\002B";
			position: relative;
		}
		.js .ion-head-selected { color: #000; } /* JS ON */
		.js .ion-head-selected::before { content: "\2212"; } /* JS ON */
		.ion-panel {
			overflow: hidden;
			position: relative;
		}
		.js .ion-panel { display: none; } /* JS ON */
