// Put "pending" CSS here.
// ...

footer[role="contentinfo"] {
	
	margin: 10px 0 0;
	text-align: center;
	
	p {
		font: 11px/24px Arial, sans-serif;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $gray9;
		margin: 0;
		padding: 0;
	}
	
	span { display: block; }
	span span { display: none; }
	
	a {
		color: $gray6;
		text-decoration: none;
	}
	a:visited { color: $gray6; }
	.no-touch a:visited:hover,
	a:focus,
	.no-touch a:focus:hover,
	.no-touch a:hover,
	a:active {
		color: $raven;
		text-decoration: underline;
	}
	
	@media all and (min-width: 640px) {
		span,
		span span { display: inline; }
	}
	
}

aside[role="complementary"] {
	
	background: #000;
	color: #fff;
	padding: 25px 0;
	
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	
	h1 {
		
		letter-spacing: normal;
		font-size: 120px;
		line-height: 130px;
		font-family: "MillerHeadline Bold";
		font-weight: bold;
		font-style: normal;
		margin-top: 0;
		
		.char1 { margin-left: 0; }
		.char2 { margin-left: 8px; }
		.char3 { margin-left: -2px; }
		.char4 { margin-left: 1px; }
		.char5 { margin-left: 4px; }
		.char6 { margin-left: 9px; }
		.char7 { margin-left: -4px; }
		.char8 { margin-left: -5px; }
		.char9 { margin-left: 0; }
		.char10 { margin-left: 0; }
		.char11 { margin-left: 2px; }
		.char12 { margin-left: -8px; }
		.char13 { margin-left: -3px; }
		
	}
	
	h2 {
		font-family: "MillerHeadline Light";
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 45px;
		margin-bottom: 0;
		color: #ccc;
	}
	
}

.js #disqus { display: none; }

// http://callmenick.com/2014/09/08/advanced-parallax-scrolling-effect/
//body { padding-top: 0 !important; }

section.module.parallax {
	background-color: $raven;
	background-position: 0 0;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	padding: 350px;
}
section.module.parallax-1 { background-image: url(https://dl.dropboxusercontent.com/u/1277106/20141021-Oregon_Primary_Election_Sen.3.jpg); }
section.module p {
	
	font-size: 18px;
	line-height: 44px;
	font-weight: normal;
	letter-spacing: .1em;
	color: $raven;
	margin: 0;
	position: absolute;
	right: 50px;
	bottom: 50px;
	color: $milk;
	max-width: 300px;
	
	> span {
		
		// https://github.com/mhulse/data/issues/18
		padding: 10px;
		background: rgba($raven, .75);
		-webkit-box-decoration-break: clone;
		   -moz-box-decoration-break: clone;
		    -ms-box-decoration-break: clone;
		     -o-box-decoration-break: clone;
		        box-decoration-break: clone;
		
		span {
			font-size: 65%;
			color: $gray9;
		}
		
	}
	
	// Removes annoying Webkit outline:
	&:active,
	&:focus { outline: 0; }
	
}

//----------------------------------------------------------------------

.poll {
	
	// Cascade to children:
	font-family: arial, sans-serif;
	color: $gray3;
	// Skin stuff:
	border: 1px solid $grayc;
	background: $graye;
	box-shadow: 0 0 5px rgba($raven, .1);
	// Spacing:
	margin: 10px 0;
	padding: 0;
	// For spinner:
	position: relative;
	
	.poll-spinner {
		background: url(../images/loading.gif) no-repeat; // Note: `loader2.gif` is white on black.
		// Dimensions should be exceed `25px` in either direction:
		width: 20px;
		height: 20px;
		// For retina display (will fill proportionally):
		background-size: cover;
		// Position upper-right hand corner:
		position: absolute;
		top: 5px;
		right: 5px;
		// JS controls visibility:
		display: none;
	}
	
	.poll-head {
		font-size: 14px;
		line-height: 25px; // Height of `.poll-spinner` + `top` positioning.
		letter-spacing: .1em;
		text-transform: uppercase;
		margin: 0;
		padding: 5px 10px;
		background: $grayd;
		color: $gray3;
	}
	
	.poll-content {
		
		padding: 10px 15px 15px;
		
		// Tidy up spacing of children:
		:first-child { margin-top: 0; }
		:last-child { margin-bottom: 0; }
		
	}
	
	/*
	<div class="tile">
		<div class="tile-grid">
			<div class="tile-grid-secondary">
				...
			</div>
			<div class="tile-grid-primary">
				...
			</div>
		</div>
		<div class="tile-grid tile-grid-alt">
			<div class="tile-grid-secondary">
				...
			</div>
			<div class="tile-grid-tertiary">
				...
			</div>
			<div class="tile-grid-primary">
				...
			</div>
		</div>
	</div>
	*/
	
	.poll-grid {
		
		margin: 5px 0;
		
		&::after {
			content: "";
			display: table;
			clear: both;
		}
		
		.poll-grid-secondary {
			position: absolute;
			top: 0;
			right: 0;
		}
		
		.poll-grid-tertiary {
			
			width: 50px;
			float: left;
			
			+ .poll-grid-primary { margin-left: 60px; }
			
		}
		
		@media all and (min-width: 640px) {
			
			.poll-grid-secondary {
				position: static;
				width: 90px;
				float: right;
			}
			
			.poll-grid-primary { margin-right: 100px; }
			
		}
		
	}
	
	.poll-bar {
		
		margin: 15px 0;
		position: relative;
		
		.poll-bar-wrap {
			
			// Match `.poll-bar-votes` radius:
			border-radius: 3px;
			// More skin:
			background: $graye;
			background: linear-gradient(
				to bottom,
				rgba($raven, .3) 0,
				rgba($raven, .1) 100%
			);
			box-shadow: inset 0 0 5px rgba($raven, .35);
			position: relative;
			
			&.poll-bar-up::before,
			&.poll-bar-down::before {
				font-size: 20px;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				line-height: 30px;
				background: rgba($raven, .75);
				padding: 0 5px;
				border-radius: 3px 0 0 3px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 100;
			}
			&.poll-bar-up::before {
				color: darken($frog, 40%);
				content: "\f062";
			}
			&.poll-bar-down::before {
				color: darken($chili, 40%);
				content: "\f063";
			}
			
		}
		
		.poll-bar-votes {
			
			// Align % to right side of bar (I think it looks better):
			text-align: right;
			// Pseudo vertical centering:
			line-height: 30px;
			// Match `.poll-bar-wrap` radius:
			border-radius: 3px;
			// Skin:
			background: $gray9;
			background: linear-gradient(
				to bottom,
				rgba(lighten($color1, 30%), 1) 0,
				rgba(lighten($color1, 20%), 1) 50%,
				rgba(lighten($color1, 10%), 1) 51%,
				rgba(lighten($color1, 20%), 1) 100%
			);
			box-shadow: inset 0 0 3px rgba(darken($color1, 10%), .5);
			// Start with no width so it scales nicely on load:
			width: 0;
			// Match line height:
			height: 30px;
			// Animates width when changed by JS:
			// -webkit-transition: width .4s;
			//    -moz-transition: width .4s;
			//      -o-transition: width .4s;
			//         transition: width .4s;
			-webkit-transition: width 500ms cubic-bezier(0.680, 0, 0.265, 1); // Older WebKit.
			-webkit-transition: width 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			   -moz-transition: width 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			     -o-transition: width 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			        transition: width 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); // easeInOutBack
			
			> span {
				// Make look nice typographically:
				font-size: 14px;
				letter-spacing: .05em;
				// Dark orange to match parent background:
				color: darken($color1, 20%);
				// Spacing:
				margin: 0 5px;
				display: inline-block;
			}
			
		}
		
		.poll-bar-title {
			font-size: 16px;
			line-height: 18px;
			letter-spacing: .025em;
			color: $gray3;
			border-bottom: 1px solid $grayc;
			padding-bottom: 5px;
			padding-right: 100px; // Same as grid width.
			margin-bottom: 10px;
			// Because it's a span:
			display: block;
		}
		
		.poll-bar-label,
		.poll-bar-count {
			font-size: 14px;
			letter-spacing: .05em;
			color: $gray6;
		}
		
		.poll-bar-label { line-height: 30px; }
		
		.poll-bar-count {
			
			@media all and (min-width: 640px) {
				
				& { line-height: 30px; } // Match `.poll-bar-votes` line height.
				
			}
			
		}
		
	}
	
}
