// Put "pending" CSS here.
// ...

.js #disqus { display: none; }

.loading {
	// Before anything loads, show:
	background: url(../images/loader2.gif) no-repeat center top;
	background-size: 32px 10px;
	min-height: 32px; // Match background image height.
}

.banner {
	
	text-align: center;
	background: $graye;
	border-width: 2px 0;
	border-color: $grayd;
	border-style: solid;
	padding: 5px 0 10px;
	margin: 25px 0;
	
	> p {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .15em;
		color: $gray9;
		margin: 0;
		padding: 0;
	}
	
}
