#results { position: relative; }

.legend {
	
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	
}

// https://github.com/rgpages/election-2014-general/issues/12
.key-info { color: $color1; }
.key-incumbent { color: $raven; }
.key-affilition {
	font-size: 14px;
	line-height: inherit;
	color: $gray8;
	//text-transform: uppercase;
	letter-spacing: .1em;
}

.poll {
	
	// Cascade to children:
	font-family: arial, sans-serif;
	color: $gray3;
	// Skin stuff:
	border: 1px solid $grayc;
	background: $graye;
	box-shadow: 0 0 5px rgba($raven, .1);
	// Spacing:
	margin: 0 0 25px;
	padding: 0;
	// For spinner:
	position: relative;
	// Hide for JS:
	display: none;
	
	// Highlight if JS adds class of `glow`:
	-webkit-transition: box-shadow .4s;
	   -moz-transition: box-shadow .4s;
	     -o-transition: box-shadow .4s;
	        transition: box-shadow .4s;
	
	.poll-spinner {
		background: url(../images/loading.gif) no-repeat; // Note: `loader2.gif` is white on black.
		// Dimensions should be exceed `25px` in either direction:
		width: 20px;
		height: 20px;
		// For retina display (will fill proportionally):
		background-size: cover;
		// Position upper-right hand corner:
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 10;
		// JS controls visibility:
		display: none;
	}
	
	.poll-head {
		
		font-size: 14px;
		line-height: 25px; // Height of `.poll-spinner` + `top` positioning.
		letter-spacing: .05em;
		text-transform: uppercase;
		margin: 0;
		padding: 5px 10px;
		background: $grayd;
		color: $gray3;
		
		// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
		-webkit-transform-style: preserve-3d;
		   -moz-transform-style: preserve-3d;
		    -ms-transform-style: preserve-3d;
		     -o-transform-style: preserve-3d;
		        transform-style: preserve-3d;
		
		&.poll-click {
			
			cursor: pointer;
			cursor: hand;
			
			-webkit-transition: background .5s;
			   -moz-transition: background .5s;
			    -ms-transition: background .5s;
			     -o-transition: background .5s;
			        transition: background .5s;
			
			.no-touch &:hover { background: $grayc; }
			
		}
		
		i {
			font-size: 18px;
			position: absolute;
			right: 10px; // Same as the padding on `.poll-head`.
			top: 50%;
			-webkit-transform: translateY(-50%);
			   -moz-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			     -o-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
		
	}
	
	.poll-info {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: .08em;
		color: $grayb;
		background: $gray3;
		padding: 10px;
		display: none; // Shown via JS.
	}
	
	.poll-content {
		
		padding: 10px 15px 15px;
		
		// Tidy up spacing of children:
		:first-child { margin-top: 0; }
		:last-child { margin-bottom: 0; }
		
	}
	
	.poll-grid {
		
		margin: 5px 0;
		
		&::after {
			content: "";
			display: table;
			clear: both;
		}
		
		.poll-grid-secondary {
			position: absolute;
			top: 0;
			right: 0;
		}
		
		.poll-grid-tertiary {
			
			width: 50px;
			float: left;
			
			+ .poll-grid-primary { margin-left: 60px; }
			
		}
		
		@media all and (min-width: 640px) {
			
			.poll-grid-secondary {
				position: static;
				width: 90px;
				float: right;
			}
			
			.poll-grid-primary { margin-right: 100px; }
			
		}
		
	}
	
	.poll-bar {
		
		margin: 15px 0;
		position: relative;
		
		.poll-bar-wrap {
			
			// Match `.poll-bar-votes` radius:
			border-radius: 3px;
			// More skin:
			background: $graye;
			background: linear-gradient(
				to bottom,
				rgba($raven, .3) 0,
				rgba($raven, .1) 100%
			);
			box-shadow: inset 0 0 5px rgba($raven, .35);
			position: relative;
			
			&.poll-bar-up::before,
			&.poll-bar-down::before {
				@include font-awesome;
				font-size: 20px;
				line-height: 30px;
				background: rgba($raven, .75);
				padding: 0 5px;
				border-radius: 3px 0 0 3px;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 100;
			}
			&.poll-bar-up::before {
				color: darken($frog, 40%);
				content: "\f062";
			}
			&.poll-bar-down::before {
				color: darken($chili, 40%);
				content: "\f063";
			}
			
		}
		
		.poll-bar-votes {
			
			// Align % to right side of bar (I think it looks better):
			//text-align: right; // https://github.com/rgpages/election-2014-general/issues/35
			// Pseudo vertical centering:
			line-height: 30px;
			// Match `.poll-bar-wrap` radius:
			border-radius: 3px;
			// Skin:
			background: $gray9;
			background: linear-gradient(
				to bottom,
				rgba(lighten($color1, 30%), 1) 0,
				rgba(lighten($color1, 20%), 1) 50%,
				rgba(lighten($color1, 10%), 1) 51%,
				rgba(lighten($color1, 20%), 1) 100%
			);
			box-shadow: inset 0 0 3px rgba(darken($color1, 10%), .5);
			// Start with no width so it scales nicely on load:
			width: 0;
			// Match line height:
			height: 30px;
			// Animates width when changed by JS:
			-webkit-transition: width 500ms;
			   -moz-transition: width 500ms;
			    -ms-transition: width 500ms;
			     -o-transition: width 500ms;
			        transition: width 500ms;
			// -webkit-transition: width 500ms cubic-bezier(0.680, 0, 0.265, 1); // Older WebKit.
			// -webkit-transition: width 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			//    -moz-transition: width 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			//      -o-transition: width 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			//         transition: width 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); // easeInOutBack
			
			> span {
				// Make look nice typographically:
				font-size: 14px;
				letter-spacing: .05em;
				// Dark orange to match parent background:
				color: darken($color1, 20%);
				// Spacing:
				margin: 0 5px;
				display: inline-block;
			}
			
		}
		
		.poll-bar-title {
			
			font-size: 16px;
			line-height: 18px;
			letter-spacing: .025em;
			color: $gray3;
			border-bottom: 1px solid $grayc;
			padding-right: 100px; // Same as grid width, so text on left wraps around number.
			padding-bottom: 5px;
			margin-bottom: 10px;
			
			span + span span {
				
				&::before { content: "("; }
				&::after { content: ")"; }
				
			}
			
			@media all and (min-width: 640px) {
				
				padding-right: 0;
				
				&::after {
					content: "";
					display: table;
					clear: both;
				}
				
				span { float: left; }
				span + span {
					
					float: right;
					
					span {
						
						&::before,
						&::after { content: ""; }
						
					}
					
				}
				
			}
			
		}
		
		.poll-bar-label,
		.poll-bar-count {
			font-size: 14px;
			letter-spacing: .05em;
			color: $gray6;
		}
		
		.poll-bar-label { line-height: 30px; }
		
		.poll-bar-count {
			
			@media all and (min-width: 640px) {
				
				& { line-height: 30px; } // Match `.poll-bar-votes` line height.
				
			}
			
		}
		
	}
	
}
